.form {
    display: grid;
    gap: 10px;
    max-width: 300px;
}
.form > .form-row {
    display: grid;
    gap: 2px;
}
.form > .form-row > label {
}
.form > .form-row > input {
    padding: 0.2em;
    font-size: 17px;
    line-height: 1em;
}
.form > .form-row > button {
    padding: 0.3em;
    font-size: 18px;
    line-height: 1em;
}